<div class="card">
  <!--
    mostrar mensajes de error/warn/successful
    -->
  <p-toast/>

  <!--
    tabla  del objeto
    -->
  <p-table
    [loading]="loading()"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [showCurrentPageReport]="false"
    [tableStyle]="{ 'min-width': '75rem' }"
    [value]="pedidos()"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
    dataKey="id"
    selectionMode="single"

    styleClass="p-datatable-striped"
  >
    <ng-template let-columns pTemplate="header">
      <tr>
        <th style="width:20%">Fecha</th>
        <th style="width:10%">Estado</th>
        <th style="width:10%">Precio</th>
        <th style="width:10%">Comprador</th>
        <th style="width:10%">Vendedor</th>
        <th style="width:22%">
          Producto
        </th>
        <th style="width:auto">Acción</th>
      </tr>
      <tr>
        <th pSortableColumn="fecha" style="min-width: 10rem">
          <div class="flex justify-content-between align-items-center">
            <p-sortIcon field="date"/>
          </div>
        </th>
        <th>

          <p-columnFilter [showAddButton]="false" [showMatchModes]="false" [showOperator]="false" class="ml-auto"
                          display="menu" field="estado">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Estado del pedido</span>
              </div>
            </ng-template>
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-dropdown
                (onChange)="filter($event.value)"
                [ngModel]="value"
                [options]=" estados"
                [showClear]="true"
                placeholder="Filtrar Estado">
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter currency="EUR" display="menu" field="precio" type="numeric"/>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>


      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-pedido pTemplate="body">
      <tr>
        <td>
          {{ pedido.fecha }}
        </td>
        <td>
          {{ pedido.estado }}
        </td>
        <td>
          {{ pedido.precio | currency:"EUR":'' }}€
        </td>
        <td>
          @if (pedido.comprador.id == usuario?.id) {
            Yo
          } @else {
            <a [href]="'user/'+pedido.comprador.id+'/perfil'">{{ pedido.comprador.nombre }}</a>
          }
        </td>
        <td>
          @if (pedido.vendedor.id == usuario?.id) {
            Yo
          } @else {
            <a [href]="'user/'+pedido.vendedor.id+'/perfil'">{{ pedido.vendedor.nombre }}</a>
          }
        </td>
        <td>
          <a [href]="'tienda/productos/producto/'+pedido.producto.id">{{ pedido.producto.nombre }}</a>
        </td>
        <td>
          @if (pedido.vendedor.id == usuario?.id) {
            <p-button
              pRipple
              icon="pi pi-pencil"
              class="mr-2"
              [rounded]="true"
              [outlined]="true"
              severity="info"
              (click)="editPedido(pedido)"/>
          }
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ pedidos() ? pedidos().length : 0 }} pedidos.
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center text-4xl" colspan="9">No se ha encontrado pedidos.</td>
      </tr>
    </ng-template>

  </p-table>
  <!--
  crear/editar el objeto
  -->
  <p-dialog
    [(visible)]="pedidoDialog"
    [modal]="true"
    [style]="{ width: '600px' }"
    header="Cambiar el estado del Pedido"
    styleClass="p-fluid">
    <ng-template pTemplate="body">

      <div class="field h-12rem">
        <label for="estado">Estado</label>

        <p-dropdown
          [(ngModel)]="pedido!.estado"
          [options]="estados"
          id="estado"
          inputId="estado"
          required>
        </p-dropdown>

      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        (click)="hideDialog()"
        [text]="true"
        icon="pi pi-times"
        label="Cancel"
        pRipple/>
      <p-button
        (click)="savePedido()"
        [text]="true"
        icon="pi pi-check"
        label="Save"
        pRipple/>
    </ng-template>
  </p-dialog>

  <!--
    confirmación de eleminar
    -->
  <p-confirmDialog [style]="{ width: '450px' }"/>
</div>
