<p-dataView #dv [value]="filteredItems"
            [layout]="layout"
            [rows]="rows"
            [paginator]="true"
            [lazyLoadOnInit]="true"
            [showFirstLastIcon]="true"
            currentPageReportTemplate="{currentPage} of {totalPages}"
            [rowsPerPageOptions]="[12,20,30]"
            [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <div class="flex flex-column md:flex-row md:justify-content-start ">
      <input class="mr-3" type="text" pInputText [(ngModel)]="searchText" (input)="onSearchTextChange()" placeholder="Buscar por titulo">

    </div>
  </ng-template>
  <ng-template pTemplate="grid" let-productos >
    <div class="grid grid-nogutter">
      <div  class="col-12 sm:col-6 md:col-4 xl:col-3 p-2" *ngFor="let producto of productos; let first = first">
        <div *ngIf="!producto.comprado" class="p-4 border-1 surface-border surface-card border-round flex flex-column"
        >
          <div class="surface-50 flex justify-content-center border-round p-3">
            <div class="relative mx-auto" style="width: 300px;height: 300px">
              <img class="border-round w-full" [ngSrc]="producto.imagen || 'http://localhost:8080/media/default-perfil.webp' " [alt]="producto.nombre" priority
                   fill/>
            </div>
          </div>
          <div class="pt-4">
            <div class="flex flex-row justify-content-between align-items-start gap-2">
              <div>
                <span class="text-2xl font-semibold">{{ producto.nombre }}</span>
                <div class="text-lg font-medium text-900 mt-1">
                  <shared-tag-genero [generos]="producto.generos"></shared-tag-genero>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-4">
            <div class="flex flex-row justify-content-between align-items-start gap-2">
              <div>
                <div class="text-lg font-medium text-900 mt-1 text-red-400">
                  {{
                    producto.precio | currency:"EUR":""
                  }}€
                </div>
              </div>
            </div>
            <div class="flex flex-column gap-4 mt-4">
              <a class="flex gap-2" [routerLink]="'./producto/'+producto.id">
                <p-button  class="flex-auto md:flex-initial white-space-nowrap" label="Comprar" icon="pi pi-shopping-cart "/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
