<div class="card">
  <!--
    mostrar mensajes de error/warn/successful
    -->
  <p-toast/>
  <!--
    barra de herramientas
    -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        (click)="openNew()"
        class="mr-2"
        icon="pi pi-plus"
        label="New"
        pRipple
        severity="success"/>
      <p-button
        (click)="deleteSelectedGeneros()"
        [disabled]="!selectedGeneros || !selectedGeneros.length"
        icon="pi pi-trash"
        label="Delete"
        pRipple
        severity="danger"/>
    </ng-template>
  </p-toolbar>
  <!--
    tabla  del objeto
    -->
  <p-table
    [(selection)]="selectedGeneros"
    [loading]="loading()"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [value]="generos()"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
    dataKey="id"
    selectionMode="single"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem;">
          <p-tableHeaderCheckbox/>
        </th>
        <th style="width:12%">Id</th>
        <th style="width:60%">Nombre</th>
        <th style="width:auto">Acciones</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter
            ariaLabel="Filter nombre"
            field="nombre"
            inputmode
            placeholder="Buscar por nombre"
            type="text"/>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template let-genero pTemplate="body">
      <tr>
        <td>
          <p-tableCheckbox [value]="genero"/>
        </td>
        <td>
          {{ genero.id }}
        </td>
        <td>
          {{ genero.nombre }}
        </td>
        <td>
          <p-button
            (click)="editGenero(genero)"
            [outlined]="true"
            [rounded]="true"
            class="mr-2"
            icon="pi pi-pencil"
            pRipple
            severity="info"/>
          <p-button
            (click)="deleteGenero(genero)"
            [outlined]="true"
            [rounded]="true"
            icon="pi pi-trash"
            pRipple
            severity="danger"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ generos() ? generos().length : 0 }} generos.
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center text-4xl" colspan="5">No se ha encontrado generos.</td>
      </tr>
    </ng-template>

  </p-table>
  <!--
  crear/editar el objeto
  -->
  <p-dialog
    [(visible)]="generoDialog"
    [modal]="true"
    [style]="{ width: '450px' }"
    header="Detalle de Genero"
    styleClass="p-fluid">
    <ng-template pTemplate="content">

      <div class="field">
        <label for="nombre">Nombre</label>
        <input
          [(ngModel)]="genero.nombre"
          autofocus
          id="nombre"
          pInputText
          required
          type="text"/>
        <small *ngIf="submitted() && !genero.nombre" class="p-error">
          Nombre es requerido.
        </small>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        (click)="hideDialog()"
        [text]="true"
        icon="pi pi-times"
        label="Cancel"
        pRipple/>
      <p-button
        (click)="saveGenero()"
        [text]="true"
        icon="pi pi-check"
        label="Save"
        pRipple/>
    </ng-template>
  </p-dialog>

  <!--
    confirmación de eleminar
    -->
  <p-confirmDialog [style]="{ width: '450px' }"/>
</div>
