<div class="card">
  <!--
    mostrar mensajes de error/warn/successful
    -->
  <p-toast/>
  <!--
    barra de herramientas
    -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        (click)="openNew()"
        class="mr-2"
        icon="pi pi-plus"
        label="New"
        pRipple
        severity="success"/>
      <p-button
        (click)="deleteSelectedComics()"
        [disabled]="!selectedComics || !selectedComics.length"
        icon="pi pi-trash"
        label="Delete"
        pRipple
        severity="danger"/>
    </ng-template>
  </p-toolbar>
  <!--
    tabla  del objeto
    -->
  <p-table
    [(selection)]="selectedComics"
    [columns]="selectedColumns"
    [loading]="loading()"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [scrollable]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [value]="comics()"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
    dataKey="id"
    selectionMode="single"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <p-multiSelect
        [(ngModel)]="selectedColumns"
        [options]="cols"
        [style]="{'min-width': '200px'}"
        display="chip"
        optionLabel="header"
        placeholder="Choose Columns"
        selectedItemsLabel="{0} columns selected"/>
    </ng-template>
    <ng-template let-columns pTemplate="header">
      <tr>
        <th style="width: 4rem;">
          <p-tableHeaderCheckbox/>
        </th>
        <th style="width:8%">Id</th>
        <th style="width:15%">Titulo</th>
        <th style="width:8%">Tipo</th>
        <th style="width:auto">Portada</th>
        <th *ngFor="let col of columns" style="width:auto">
          {{ col.header }}
        </th>
        <th style="width:auto">Acción</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter
            ariaLabel="Filter titulo"
            field="titulo"
            inputmode
            placeholder="Buscar por titulo"
            type="text"/>
        </th>
        <th>
          <p-columnFilter [showAddButton]="false" [showMatchModes]="false" [showOperator]="false" class="ml-auto" display="menu"
                          field="tipo" matchMode="equals">
            <ng-template pTemplate="header">
              <div class="px-3 pt-3 pb-0">
                <span class="font-bold">Tipo de cómic</span>
              </div>
            </ng-template>
            <ng-template let-filter="filterCallback" let-value pTemplate="filter">
              <p-dropdown
                (onChange)="filter($event.value)"
                [ngModel]="value"
                [options]=" tipoComics"
                [showClear]="true"
                placeholder="Select One">
                <ng-template let-option pTemplate="item">
                  <p-tag
                    [value]="option.value"></p-tag>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th></th>
        <th *ngFor="let col of columns">
          <p-columnFilter
            [field]="col.field"
            [placeholder]="'Buscar por '+col.header"
            type="text"
          />
        </th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-comic pTemplate="body">
      <tr>
        <td>
          <p-tableCheckbox [value]="comic"/>
        </td>
        <td>
          {{ comic.id }}
        </td>
        <td>
          {{ comic.titulo }}
        </td>
        <td>
          {{ comic.tipo }}
        </td>
        <td>
          <p-image [alt]="comic.titulo" [preview]="true" [src]="comic.portada" width="100"></p-image>
        </td>
        <td *ngFor="let col of columns">
          @if (col.field == "editorial.nombre") {
            {{ comic.editorial.nombre }}
          } @else if (col.field == "autores.nombre") {
            <shared-tag-autor [autores]="comic.autores"></shared-tag-autor>
          } @else if (col.field == "generos.nombre") {
            <shared-tag-genero [generos]="comic.generos"></shared-tag-genero>
          } @else {
            {{ comic[col.field] }}
          }
        </td>
        <td>
          <p-button
            (click)="editComic(comic)"
            [outlined]="true"
            [rounded]="true"
            class="mr-2"
            icon="pi pi-pencil"
            pRipple
            severity="info"/>
          <p-button
            (click)="deleteComic(comic)"
            [outlined]="true"
            [rounded]="true"
            icon="pi pi-trash"
            pRipple
            severity="danger"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ comics() ? comics().length : 0 }} comics.
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center text-4xl" colspan="9">No se ha encontrado comics.</td>
      </tr>
    </ng-template>

  </p-table>
  <!--
  crear/editar el objeto
  -->
  <p-dialog
    [(visible)]="comicDialog"
    [modal]="true"
    [style]="{ width: '600px' }"
    header="Detalle de Comic"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="flex justify-content-around">
        <p-image [alt]="comic.titulo" [preview]="true" [src]="comic.portada" width="300"></p-image>
      </div>

      <div class="field">
        <label for="titulo">Titulo</label>
        <input
          [(ngModel)]="comic.titulo"
          autofocus
          id="titulo"
          pInputText
          required
          type="text"/>
        <small *ngIf="submitted() && !comic.titulo" class="p-error">
          Titulo es requerido.
        </small>
      </div>

      <div class="field">
        <label for="autor">Autor</label>
        <p-multiSelect
          [(ngModel)]="comic.autores"
          [filter]="true"
          [options]="autores"
          [showClear]="true"
          id="autor"
          filterBy="nombre,apellido1,apellido2"
          placeholder="Selecciona un Autor">
          <ng-template pTemplate="selectedItems" let-valor >
            @if (comic.autores.length <= 0){
              <div class="selected-item">
                Filtrar por Autores
              </div>
            }
            <div class="inline-flex align-items-center gap-2 px-1" *ngFor="let autor of valor">
              {{ autor.nombre }} {{ autor.apellido1 + ( autor.apellido2 != null?' '+autor.apellido2: '')}},
            </div>
          </ng-template>
          <ng-template let-autor pTemplate="item">
            <div class="flex align-items-center gap-2">
              <div>
                {{ autor.nombre }} {{ autor.apellido1 }} {{ autor.apellido2 || ''}}
              </div>
            </div>
          </ng-template>
        </p-multiSelect>
        <small *ngIf="submitted() && comic.autores.length <= 0" class="p-error">
          Hay que seleccionar al menos un autor
        </small>
      </div>

      <div class="field">
        <label for="tipo">Tipo</label>

        <p-dropdown
          [(ngModel)]="comic!.tipo"
          [options]="tipoComics"
          id="tipo"
          inputId="tipo"
          required>
        </p-dropdown>
        <small *ngIf="submitted() && comic.tipo.length <= 0" class="p-error">
          Hay que seleccionar el tipo de comic
        </small>
      </div>
      <div class="field">
        <label for="editorial">Editorial: <span class="text-cyan-400">{{ comic!.editorial.nombre }}</span></label>

        <p-dropdown
          [(ngModel)]="comic!.editorial"
          [filter]="true"
          [options]="editorial"
          filterBy="nombre"
          id="editorial"
          inputId="id"
          optionLabel="nombre"
          required
          variant="filled">
        </p-dropdown>
        <small *ngIf="submitted() && !comic.editorial.nombre" class="p-error">
          Hay que seleccionar un editorial
        </small>
      </div>

      <div class="field">
        <label for="generos">Genero</label>
        <p-multiSelect
          [(ngModel)]="comic.generos"
          [filter]="true"
          [options]="generos"
          [showClear]="true"
          display="chip"
          id="generos"
          optionLabel="nombre"
          placeholder="Buscar por generos"/>
        <small *ngIf="submitted() && comic.generos.length <= 0" class="p-error">
          Hay que seleccionar al menos un genero
        </small>
      </div>

      <div class="field">
        <label for="idioma">Idioma</label>
        <input
          [(ngModel)]="comic.idioma"
          autofocus
          id="idioma"
          pInputText
          required
          type="text"/>
        <small *ngIf="submitted() && !comic.idioma" class="p-error">
          Idioma es requerido.
        </small>
      </div>

      <div class="field">
        <label for="anoPublicacion">Año de publicación</label>
        <p-inputMask
          [(ngModel)]="comic.anoPublicacion"
          id="anoPublicacion"
          mask="9999"
          placeholder="YYYY"
          slotChar="YYYY"/>

        <small *ngIf="submitted() && !comic.anoPublicacion" class="p-error">
          Año de publicación es requerido.
        </small>
      </div>

      <div class="field">
        <label for="sinopsis">Sinopsis</label>
        <textarea
          [(ngModel)]="comic.sinopsis"
          autofocus
          id="sinopsis"
          pInputTextarea
          class="h-13rem"
          required
          type="text"></textarea>
        <small *ngIf="submitted() && !comic.sinopsis" class="p-error">
          Sinopsis es requerido.
        </small>
      </div>

      <p-fileUpload
        (onSelect)="onUpload($event)"
        [multiple]="false"
        [showCancelButton]="false"
        [showUploadButton]="false"
        accept="image/*"
        [auto]="true"
        label="Seleccionar imagen"
        maxFileSize="1000000"
        uploadIcon>
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        (click)="hideDialog()"
        [text]="true"
        icon="pi pi-times"
        label="Cancel"
        pRipple/>
      <p-button
        (click)="saveComic()"
        [text]="true"
        icon="pi pi-check"
        label="Save"
        pRipple/>
    </ng-template>
  </p-dialog>

  <!--
    confirmación de eleminar
    -->
  <p-confirmDialog [style]="{ width: '450px' }"/>
</div>
