@if (!producto){
  <shared-loading></shared-loading>
} @else {
  <p-toast />
  <p-splitter

    [panelSizes]="[7, 84, 7]"
    [style]="{ height: '300px' }"

    styleClass="mb-5">
    <ng-template pTemplate>
    </ng-template>
    <ng-template pTemplate>
      <div class="col ">
        <p-panel [header]="producto.nombre"  styleClass="text-2xl ">

          <p-fieldset legend="Detalle del producto">
            <div class="grid  gap-3 m-3">
              <p-image [src]="producto.imagen != null? producto.imagen : 'http://localhost:8080/media/producto/default-image.png'"
                       styleClass="border-round col-6 sm:col-1" imageClass="w-30rem"
              ></p-image>
              <div class="col-6 flex-column justify-content-start">
                <div style="margin: 10px 0">Vendedor: <a [href]="'user/'+usuario?.id+'/perfil'">{{vendedor()}}</a> </div>
                <div style="margin: 20px 0" class="text-2xl">Precio: <br> <div class="text-red-400 text-6xl">{{producto.precio |currency:'EUR': ''}}€</div> </div>

                <div style="margin: 20px 0;" class="flex justify-content-around" >
                    <p-button icon="pi pi-shopping-cart" styleClass="w-26rem " [hidden]="producto.comprado || propietario()" label="Comprar" (onClick)="openNew()"></p-button>
                </div>

              </div>
            </div>
            <p-accordion [activeIndex]="0">
              <p-accordionTab header="Descripción">
                {{producto.descripcion}}
              </p-accordionTab>
            </p-accordion>
          </p-fieldset>

        </p-panel>
      </div>
    </ng-template>
    <ng-template pTemplate>
    </ng-template>
  </p-splitter>


  <!--
  Dialogo de comprar
  -->
  <p-dialog
    [(visible)]="compraDialog"
    [style]="{ width: '600px' }"
    header="Detalle del Pedido"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="flex justify-content-around">
        <p-image [src]="producto!.imagen" [alt]="producto!.nombre"  [preview]="true"></p-image>
      </div>


      <div class="field">
        <label for="producto">Nombre del producto</label>
        <input
          type="text"
          pInputText
          id="producto"

          [(ngModel)]="producto!.nombre"
          readonly
          autofocus />
      </div>

      <div class="field">
        <label for="direccion">Dirección a enviar</label>
        <input
          type="text"
          pInputText
          id="direccion"

          [(ngModel)]="usuario!.direccion"
          required
          autofocus />
        <small class="p-error" *ngIf="submitted() && !usuario!.direccion">
          Dirección es requerido.
        </small>
      </div>

      <div class="field">
        <label for="precio">Precio</label>
        <p-inputNumber
          [(ngModel)]="producto.precio"
          mode="currency"
          id="precio"
          inputId="currency-germany"
          currency="EUR"
          locale="de-DE"
          readonly/>
      </div>



    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        pRipple
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (click)="hideDialog()" />
      <p-button
        pRipple
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (click)="savePedido()" />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
}
