<p-carousel
  [circular]="true"
  [numScroll]="1"
  [numVisible]="5"
  [value]="comics"
  styleClass="m-6">
  <ng-template pTemplate="header">
    <p class="ml-8 text-2xl ">Cómics</p>
  </ng-template>
  <ng-template let-comic pTemplate="item">
    <div class="border-1 surface-border border-round m-2 p-3 max-w-15rem h-fit">
      <div class="mb-3">
        <div class="relative mx-auto">
          <img
            [ngSrc]="comic.portada"
            [alt]="comic.titulo"
            priority
            class="w-full h-fit border-round h-12rem" width="200" height="250"/>
        </div>
      </div>
      <div class="mb-3 font-medium">
        {{ comic.titulo }}
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="mt-0 font-semibold text-xl">
        </div>
        <a [href]="'comics/comic/'+comic.id">
          <p-button label="Ver más" styleClass="ml-2"/>
        </a>
      </div>
    </div>
  </ng-template>
</p-carousel>
<p-carousel
  [circular]="true"
  [numScroll]="1"
  [numVisible]="5"
  [value]="libros"
  styleClass="m-6">
  <ng-template pTemplate="header">
    <p class="ml-8 text-2xl ">Libros</p>
  </ng-template>
  <ng-template let-libro pTemplate="item">
    <div class="border-1 surface-border border-round m-2 p-3 max-w-15rem">
      <div class="mb-3">
        <div class="relative mx-auto">
          <img
            [ngSrc]="libro.portada"
            [alt]="libro.titulo"
            class="w-full h-fit border-round h-12rem" width="200" height="250"/>
        </div>
      </div>
      <div class="mb-3 font-medium">
        {{ libro.titulo }}
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="mt-0 font-semibold text-xl">
        </div>
        <a [href]="'libros/libro/'+libro.id">
          <p-button label="Ver más" styleClass="ml-2"/>
        </a>
      </div>
    </div>
  </ng-template>
</p-carousel>

<p-carousel
  [circular]="true"
  [hidden]="productos.length<=0"
  [numScroll]="1"
  [numVisible]="5"
  [value]="productos"
  styleClass="m-6">
  <ng-template pTemplate="header">
    <p class="ml-8 text-2xl ">Productos</p>
  </ng-template>

  <ng-template let-producto pTemplate="item">
    <div class="border-1 surface-border border-round m-2 p-3 max-w-15rem">
      <div class="mb-3">
        <div class="relative mx-auto">
          <img
            [alt]="producto.nombre"
            [ngSrc]="producto.imagen"

            class="w-full h-fit border-round h-12rem" width="250" height="260"/>
        </div>
      </div>
      <div class="mb-3 font-medium">
        {{ producto.nombre }}
      </div>
      <div class="flex justify-content-between align-items-center">
        <div class="mt-0 font-semibold text-xl text-red-400">
          @if(producto.precio == 0){
            Free
          } @else {
            {{ producto.precio | currency:"EUR":'' }}€
          }
        </div>
        <a [href]="'productos/producto/'+producto.id">
          <p-button icon="pi pi-shopping-cart" styleClass="ml-2" label="Comprar"/>
        </a>
      </div>
    </div>
  </ng-template>

</p-carousel>
