<div class="card">
  <!--
    mostrar mensajes de error/warn/successful
    -->
  <p-toast/>
  <!--
    barra de herramientas
    -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        (click)="openNew()"
        class="mr-2"
        icon="pi pi-plus"
        label="New"
        pRipple
        severity="success"/>
      <p-button
        (click)="deleteSelectedUsuarios()"
        [disabled]="!selectedUsuarios || !selectedUsuarios.length"
        icon="pi pi-trash"
        label="Delete"
        pRipple
        severity="danger"/>
    </ng-template>
  </p-toolbar>
  <!--
    tabla  del objeto
    -->
  <p-table
    [(selection)]="selectedUsuarios"
    [loading]="loading()"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [value]="usuarios()"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
    dataKey="id"
    selectionMode="single"
    styleClass="p-datatable-gridlines"
  >
    <ng-template let-columns pTemplate="header">
      <tr>
        <th style="width: 4rem;">
          <p-tableHeaderCheckbox/>
        </th>
        <th style="width:8%">Id</th>
        <th style="width:15%">Correo</th>
        <th style="width:15%">Usuario</th>
        <th style="width:8%">Rol</th>
        <th style="width:auto">Dirección</th>
        <th style="width:auto">
          Perfil
        </th>
        <th style="width:auto">Acción</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter
            ariaLabel="Filter correo"
            field="correo"
            inputmode
            placeholder="Buscar por correo"
            type="text"/>
        </th>
        <th>
          <p-columnFilter
            ariaLabel="Filter usuario"
            field="nombre"
            inputmode
            placeholder="Buscar por Usuario"
            type="text"/>
        </th>
        <th></th>
        <th>
        </th>
        <th></th>
        <th>
        </th>

      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-usuario pTemplate="body">
      <tr>
        <td>
          <p-tableCheckbox [value]="usuario"/>
        </td>
        <td>
          {{ usuario.id }}
        </td>
        <td>
          {{ usuario.correo }}
        </td>
        <td>
          {{ usuario.nombre }}
        </td>
        <td>
          {{ usuario.rol }}
        </td>
        <td>
          {{ usuario.direccion }}
        </td>
        <td>
          <p-image [alt]="usuario.usuario" [preview]="true" [src]="usuario.imagen" width="100"></p-image>
        </td>
        <td>
          <p-button
            (click)="editUsuario(usuario)"
            [outlined]="true"
            [rounded]="true"
            class="mr-2"
            icon="pi pi-pencil"
            pRipple
            severity="info"/>
          <p-button
            (click)="deleteUsuario(usuario)"
            [outlined]="true"
            [rounded]="true"
            icon="pi pi-trash"
            pRipple
            severity="danger"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ usuarios() ? usuarios().length : 0 }} usuarios.
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center text-4xl" colspan="9">No se ha encontrado usuarios.</td>
      </tr>
    </ng-template>

  </p-table>
  <!--
  crear/editar el objeto
  -->
  <p-dialog
    [(visible)]="usuarioDialog"
    [modal]="true"
    [style]="{ width: '600px' }"
    header="Detalle de Usuario"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="flex justify-content-around">
        <p-image [alt]="usuario.nombre" [preview]="true" [src]="usuario.imagen" width="300"></p-image>
      </div>

      <div class="field">
        <label for="nombre">Usuario</label>
        <input
          [(ngModel)]="usuario.nombre"
          autofocus
          id="nombre"
          pInputText
          required
          type="text"/>
        <small *ngIf="submitted() && !usuario.nombre" class="p-error">
          Usuario es requerido.
        </small>
      </div>

      <div class="field">
        <label for="correo">Correo</label>
        <input
          #email="ngModel"
          [(ngModel)]="usuario.correo"
          autofocus
          id="correo"
          pInputText
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
          required
          type="email"/>
        <small *ngIf="submitted() && !usuario.correo" class="p-error">
          Correo es requerido.
        </small>
        <small *ngIf="submitted() && email.errors" class="p-error">
          Formato del correo incorrecto: example&commat;example.com
        </small>
      </div>

      <div class="field">
        <label for="rol">Rol</label>
        <p-dropdown
          [(ngModel)]="usuario!.rol"
          [options]="rol"
          id="rol"
          inputId="rol"
          required>
          <ng-template pTemplate="selectedItem">
            <p-tag
              [value]="usuario!.rol"></p-tag>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <p-tag
              [value]="option"></p-tag>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="field">
        <label for="contra">Contraseña</label>
        <p-password
          [(ngModel)]="usuario.contrasena"
          [toggleMask]="true"
          autofocus
          id="contra"
          required/>
        <small *ngIf="submitted() && usuario.contrasena.length < 4" class="p-error">
          La contraseña debe tener al menos 4 caracteres.
        </small>
        <small *ngIf="submitted() && usuario.contrasena.length > 20" class="p-error">
          La contraseña no debe tener más de 20 caracteres.
        </small>
      </div>

      <div class="field">
        <label for="direccion">Dirección</label>
        <input
          [(ngModel)]="usuario.direccion"
          autofocus
          id="direccion"
          pInputText
          type="text"/>
      </div>


      <p-fileUpload
        (onSelect)="onUpload($event)"
        [multiple]="false"
        [showCancelButton]="false"
        [showUploadButton]="false"
        accept="image/*"
        label="Seleccionar imagen"
        maxFileSize="1000000"
        uploadIcon>
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        (click)="hideDialog()"
        [text]="true"
        icon="pi pi-times"
        label="Cancel"
        pRipple/>
      <p-button
        (click)="saveUsuario()"
        [text]="true"
        icon="pi pi-check"
        label="Save"
        pRipple/>
    </ng-template>
  </p-dialog>

  <!--
    confirmación de eleminar
    -->
  <p-confirmDialog [style]="{ width: '450px' }"/>
</div>
