<p-dataView #dv [value]="filteredItems"
            [layout]="layout"
            [rows]="rows"
            [paginator]="true"
            [lazyLoadOnInit]="true"
            [showFirstLastIcon]="true"
            filterBy=""
            currentPageReportTemplate="{currentPage} of {totalPages}"
            [rowsPerPageOptions]="[12,20,30]"
            [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <div class="flex flex-column md:flex-row md:justify-content-start ">
        <input class="mr-3" type="text" pInputText [(ngModel)]="searchText" (input)="onSearchTextChange()" placeholder="Buscar por titulo">
        <p-multiSelect
          [options]="generos"
          styleClass="mr-3"
          placeholder="Filtrar por generos"
          optionLabel="nombre"
          [(ngModel)]="selectedGeneros"
          [showClear]="true"
          [filter]="true"
          display="chip"
          (onChange)="onFilterGenero($event)" />

        <p-multiSelect
          [options]="autores"
          [(ngModel)]="selectedAutores"
          styleClass="mr-3"
          optionLabel="nombre"
          display="chip"
          [showClear]="true"
          (onChange)="onFilterAutor($event)"
          placeholder="Filtrar por Autores">
        </p-multiSelect>


        <p-multiSelect
          [options]="editoriales"
          [(ngModel)]="selectedEditorial"
          styleClass="mr-3"
          optionLabel="nombre"
          display="chip"
          (onChange)="onFilterEditorial($event)"
          [showClear]="true"
          placeholder="Filtrar por Editorial">
        </p-multiSelect>

      <p-dropdown
        [options]="tipoComics"
        [(ngModel)]="selectedTipo"
        [showClear]="true"

        (onChange)="onFilterTipo($event)"
        placeholder="Filtrar por tipo" />
    </div>
  </ng-template>
  <ng-template pTemplate="grid" let-comics>
    <div class="grid grid-nogutter">
      <div class="col-12 sm:col-6 md:col-4 xl:col-3 p-2" *ngFor="let comic of comics; let first = first">
        <div class="p-4 border-1 surface-border surface-card border-round flex flex-column"
          >
          <div class="surface-50 flex justify-content-center border-round p-3">
            <div class="relative mx-auto" style="width: 300px;height: 300px">
              <img class="border-round w-full" [ngSrc]="comic.portada" [alt]="comic.titulo" priority
                   fill/>
            </div>
          </div>
          <div class="pt-4">
            <div class="flex flex-row justify-content-between align-items-start gap-2">
              <div>
                <span class="text-2xl font-semibold">{{ comic.titulo }}</span>
                <div class="text-lg font-medium text-900 mt-1">
                  <shared-tag-genero [generos]="comic.generos"></shared-tag-genero>
                </div>
              </div>
            </div>
          </div>
            <div class="pt-4">
              <div class="flex flex-row justify-content-between align-items-start gap-2">
                <div>
                  <div class="text-lg font-medium text-900 mt-1">
                    Escrito por:
                    <shared-tag-autor [autores]="comic.autores"></shared-tag-autor>
                  </div>
                </div>
              </div>
            <div class="flex flex-column gap-4 mt-4">
              <span class="text-2xl font-semibold">Editorial: {{ comic.editorial.nombre }}</span>
              <a class="flex gap-2" [routerLink]="'./comic/'+comic.id">
                <p-button  class="flex-auto md:flex-initial white-space-nowrap" label="Ver más"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
