<div class="card">
  <!--
    mostrar mensajes de error/warn/successful
    -->
  <p-toast/>
  <!--
    barra de herramientas
    -->
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        (click)="openNew()"
        class="mr-2"
        icon="pi pi-plus"
        label="New"
        pRipple
        severity="success"/>
      <p-button
        (click)="deleteSelectedLibros()"
        [disabled]="!selectedLibros || !selectedLibros.length"
        icon="pi pi-trash"
        label="Delete"
        pRipple
        severity="danger"/>
    </ng-template>
  </p-toolbar>
  <!--
    tabla  del objeto
    -->
  <p-table
    [(selection)]="selectedLibros"
    [columns]="selectedColumns"
    [loading]="loading()"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [scrollable]="true"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '75rem' }"
    [value]="libros()"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
    dataKey="id"
    selectionMode="single"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <p-multiSelect
        [(ngModel)]="selectedColumns"
        [options]="cols"
        [style]="{'min-width': '200px'}"
        display="chip"
        optionLabel="header"
        placeholder="Choose Columns"
        selectedItemsLabel="{0} columns selected"/>
    </ng-template>
    <ng-template let-columns pTemplate="header">
      <tr>
        <th style="width: 4rem;">
          <p-tableHeaderCheckbox/>
        </th>
        <th style="width:8%">Id</th>
        <th style="width:15%">Titulo</th>
        <th style="width:auto">Portada</th>
        <th *ngFor="let col of columns" style="width:auto">
          {{ col.header }}
        </th>
        <th style="width:auto">Acción</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>
          <p-columnFilter
            ariaLabel="Filter titulo"
            field="titulo"
            inputmode
            placeholder="Buscar por titulo"
            type="text"/>
        </th>
        <th></th>
        <th *ngFor="let col of columns">
          <p-columnFilter
            [field]="col.field"
            [placeholder]="'Buscar por '+col.header"
            type="text"
          />
        </th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-libro pTemplate="body">
      <tr>
        <td>
          <p-tableCheckbox [value]="libro"/>
        </td>
        <td>
          {{ libro.id }}
        </td>
        <td>
          {{ libro.titulo }}
        </td>
        <td>
          <p-image [alt]="libro.titulo" [preview]="true" [src]="libro.portada" width="100"></p-image>
        </td>
        <td *ngFor="let col of columns">
          @if (col.field == "editorial.nombre") {
            {{ libro.editorial.nombre }}
          } @else if (col.field == "autores.nombre") {
            <shared-tag-autor [autores]="libro.autores"></shared-tag-autor>
          } @else if (col.field == "generos.nombre") {
            <shared-tag-genero [generos]="libro.generos"></shared-tag-genero>
          } @else {
            {{ libro[col.field] }}
          }
        </td>
        <td>
          <p-button
            (click)="editLibro(libro)"
            [outlined]="true"
            [rounded]="true"
            class="mr-2"
            icon="pi pi-pencil"
            pRipple
            severity="info"/>
          <p-button
            (click)="deleteLibro(libro)"
            [outlined]="true"
            [rounded]="true"
            icon="pi pi-trash"
            pRipple
            severity="danger"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        En total hay {{ libros() ? libros().length : 0 }} libros.
      </div>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td class="text-center text-4xl" colspan="9">No se ha encontrado libros.</td>
      </tr>
    </ng-template>

  </p-table>
  <!--
  crear/editar el objeto
  -->
  <p-dialog
    [(visible)]="libroDialog"
    [modal]="true"
    [style]="{ width: '600px' }"
    header="Detalle de Libro"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
      <div class="flex justify-content-around">
        <p-image [alt]="libro.titulo" [preview]="true" [src]="libro.portada" width="300"></p-image>
      </div>

      <div class="field">
        <label for="titulo">Titulo</label>
        <input
          [(ngModel)]="libro.titulo"
          autofocus
          id="titulo"
          pInputText
          required
          type="text"/>
        <small *ngIf="submitted() && !libro.titulo" class="p-error">
          Titulo es requerido.
        </small>
      </div>

      <div class="field">
        <label for="editorial">Editorial: <span class="text-cyan-400">{{ libro!.editorial.nombre }}</span></label>

        <p-dropdown
          [(ngModel)]="libro!.editorial"
          [filter]="true"
          [options]="editorial"
          filterBy="nombre"
          id="editorial"
          inputId="id"
          optionLabel="nombre"
          placeholder="Selecciona un Editorial"
          required/>
        <small *ngIf="submitted() && !libro.editorial.nombre" class="p-error">
          Hay que seleccionar un editorial
        </small>
      </div>

      <div class="field">
        <label for="generos">Genero</label>
        <p-multiSelect
          [(ngModel)]="libro.generos"
          [filter]="true"
          [options]="generos"
          [showClear]="true"
          display="chip"
          id="generos"
          optionLabel="nombre"
          placeholder="Selecciona un generos"/>
        <small *ngIf="submitted() && libro.generos.length <= 0" class="p-error">
          Hay que seleccionar al menos un genero
        </small>
      </div>

      <div class="field">
        <label for="autor">Autor</label>
        <p-multiSelect
          [(ngModel)]="libro.autores"
          [filter]="true"
          [options]="autores"
          display="chip"
          filterBy="nombre,apellido1,apellido2"
          id="autor"
          placeholder="Selecciona un Autor">
          <ng-template let-valor pTemplate="selectedItems">
            @if (libro.autores.length <= 0) {
              <div class="selected-item">
                Filtrar por Autores
              </div>
            }
            <div class="gap-2 px-1">
              <shared-tag-autor [autores]="valor"></shared-tag-autor>
            </div>
          </ng-template>
          <ng-template let-autor pTemplate="item">
            <div class="flex align-items-center gap-2">
              {{ autor.apellido1 }} {{ autor.apellido2 || '' }}, {{ autor.nombre }}
            </div>
          </ng-template>
        </p-multiSelect>
        <small *ngIf="submitted() && libro.autores.length <= 0" class="p-error">
          Hay que seleccionar al menos un autor
        </small>
      </div>

      <div class="field">
        <label for="idioma">Idioma</label>
        <input
          [(ngModel)]="libro.idioma"
          autofocus
          id="idioma"
          pInputText
          required
          type="text"/>
        <small *ngIf="submitted() && !libro.idioma" class="p-error">
          Idioma es requerido.
        </small>
      </div>

      <div class="field">
        <label for="isbn">ISBN</label>
        <input
          [(ngModel)]="libro.isbn"
          autofocus
          id="isbn"
          pInputText
          type="text"/>
      </div>

      <div class="field">
        <label for="numPag">Número de página</label>
        <input
          [(ngModel)]="libro.numPag"
          autofocus
          id="numPag"
          pInputText
          type="text"/>
        <small *ngIf="submitted() && libro.numPag < 0" class="p-error">
          Número de página debe ser positivo
        </small>
      </div>

      <div class="field">
        <label for="anoPublicacion">Año de publicación</label>
        <p-inputMask
          [(ngModel)]="libro.anoPublicacion"
          id="anoPublicacion"
          mask="9999"
          placeholder="9999"
          slotChar="yyyy"/>

        <small *ngIf="submitted() && !libro.anoPublicacion" class="p-error">
          Año de publicación es requerido.
        </small>
      </div>

      <div class="field">
        <label for="sinopsis">Sinopsis</label>
        <textarea
          [(ngModel)]="libro.sinopsis"
          autofocus
          class="h-13rem"
          id="sinopsis"
          pInputTextarea
          required
          type="text"></textarea>
        <small *ngIf="submitted() && !libro.sinopsis" class="p-error">
          Sinopsis es requerido.
        </small>
      </div>

      <p-fileUpload
        (onSelect)="onUpload($event)"
        [multiple]="false"
        [showCancelButton]="false"
        [showUploadButton]="false"
        accept="image/*"
        label="Seleccionar imagen"
        maxFileSize="1000000"
        uploadIcon>
        <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul>
        </ng-template>
      </p-fileUpload>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        (click)="hideDialog()"
        [text]="true"
        icon="pi pi-times"
        label="Cancel"
        pRipple/>
      <p-button
        (click)="saveLibro()"
        [text]="true"
        icon="pi pi-check"
        label="Save"
        pRipple/>
    </ng-template>
  </p-dialog>

  <!--
    confirmación de eleminar
    -->
  <p-confirmDialog [style]="{ width: '450px' }"/>
</div>
